body {
    margin: 0;
}

nav .left-item img{
    width: 10%;
    margin-top: 1.5%;
}
nav .right-item{
    display: flex;
    padding: 1% 0;
}
.sidenav{
	position: fixed;
	left: 0;
	top: 0;
	width: 10%;
	height: 100%;
	background-color: rgb(255, 107, 107);
}
.sidenav-items{
	padding-top: 25%;
}
.sidenav-items .faicon{
	padding-top: 35%;
}
.faicon i{
	font-size: 20px;
	color: rgba(255, 255, 255, 0.952);
}
.flex-container {
    height: calc(100% - 150px);
    width: 100%;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;

    align-items: center;
    justify-content: center;
    text-align: center;
}

.div-send-msg {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-down {
    z-index: 2;
    position: fixed; 
    bottom: 0px;
    width: 100%;
    height: auto;
}
.connect{
    margin-top: 2%;
    margin-left: 2%;
    font-family: corbert;
    padding: 0.7% 3%;
    border-radius: 5px;
    border: 0.5px solid rgb(255, 66, 66);
    background-color: rgb(255, 66, 66);
    white-space: nowrap;
	color: black;
    font-size: 12px;
    font-weight: bold;
}
.url-copy{
    margin-top: 35%;
}
.url-copy .connect{
    background-color: snow;
    color: black;
    border: 0.5 solid snow;
}
